.App {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #999;
}
.row {
  display: block;
  height: 40px;
}
.brick {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #999;
  display: inline-block;
}
.on {
  background-color: #c5d9c3;
}